In [42]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [43]:
# URL of page to be scraped
url = 'https://space-facts.com/mars/'

In [69]:
d = pd.read_html(url)
# print(d)
print(type(d))
print(len(d))
print(d[0])

<class 'list'>
1
                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [70]:
df = d[0]
df.columns = ['Mars fact', 'Measurment']

In [72]:
df

              Mars fact                     Measurment
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers